---
layout: default
---


<!-- Main -->
<div id="main">
    <article>
        <header class="major">
            <div class="row">
              <ul class="actions">
{% for post in site.categories.about %}
                <li><a href="{{ post.url }}" class="button">{{ post.title }}</a></li>
{% endfor %}
              </ul>
            </div>
  <hr>
        {% for post in site.posts limit:1 %}
            <h2 class="post-title">{{ post.title }}</h2>
                <p class="post-meta">{% if post.author %} ?~@? {{ post.author }}{% endif %}{% if post.meta %} ?~@? {{ post.meta }}{% endif %}</p>
        </header>

        <section>
            {{ post.content }}
        </section>
        {% endfor %}

  <hr>
        <footer>
            <div class="row">
              <ul class="actions">
{% for post in site.categories.about %}
                <li><a href="{{ post.url }}" class="button">{{ post.title }}</a></li>
{% endfor %}
              </ul>
            </div>
        </footer>

    </article>

</div>
