--- 
layout: default
---
<div id="main">
    <article>
        <header class="major">
            <div class="row">
              <ul class="actions">
{% for post in site.categories.about %}
                <li><a href="{{ post.url }}" class="button">{{ post.title }}</a></li>
{% endfor %}
              </ul>
            </div>
  <hr>
            <h2 class="post-title">{{ page.title }}</h2>
                <p class="post-meta">{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </header>

        <section>
            {{ content }}
        </section>
        
  <hr>
        <footer>
            <div class="row">
              <ul class="actions">
{% for post in site.categories.about %}
                <li><a href="{{ post.url }}" class="button">{{ post.title }}</a></li>
{% endfor %}
              </ul>
            </div>
        </footer>

    </article>

</div>
